<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
  <h1>🛠️ Maintenance en cours</h1>
  <div>
    <p>Veuillez nous excuser pour le derangerement, mais suite au passage sur Ark Survival Ascended, notre site passe en maintenance. Le site sera de retour prochainement. Nous somme néanmoins joignable par <a href="mailto:arkmonkeycommunity@gmail.com">mail</a>. Au plaisir de se croiser en jeu !</p>
    <p>&mdash; L'équipe Ark Monkey Community</p>
  </div>
</article>
